.MM {
    font-family: 'Montserrat'
    font-weight: 900;
    font-size: 72px;
}


body {
    font-family: roboto;
}

div {
    border: 1px solid green;
}

html, body {
  background:url(/home/praktikant/workspace/img) no-repeat right top;
}

.btn {
    color: blue;
}