.mm {
    font-size: 72px;
    font-family: 'Anton', sans-serif;
    color: #2ecc71;
}


body {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

div {

}


.btn {
    color: blue;
}


.check {
    color: #ecf0f1;
    background-color: #2ecc71;
    font-family: 'anton';
}

